@use '../../styles/base/variables' as v;

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: clamp(1rem, 2vw, 1.5rem);
  align-items: stretch;

  &__item {
    margin: 0;
  }
}
