@use "./styles/base/reset";
@use "./styles/base/themes";
@use "./styles/base/variables" as v;
@use "./styles/base/mixins" as m;

html,
body,
#root {
    height: 100%;
    background: #040a17;
    width: 100%;
}


body {
    font-family: v.$font-family-base;
    background: #040a17;
    color: var(--color-text-primary);
    line-height: 1.6;
    transition: background v.$transition-base, color v.$transition-base;
}

#root {
    display: flex;
    justify-content: center;
}